$mainBackground:rgb(196, 219, 196);
// Header
$headerBackground: blue;
$headerFont:lightblue;
// Single story in main
$singleStory:blue;
$singleStoryHeader:lightblue;
// Comments
$author:blue;
$commentBackground:lightblue;