@import "./_variables.scss";
.singlecomment {
    border: 1px solid black;
    background-color: $commentBackground;
    font-size: 12px;
    span {
        font-weight: bold;
    }
}

h5 {
    position: relative;
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
    &:hover .tooltiptext {
        visibility: visible;
    }
    &:hover {
        cursor: pointer;
    }
}

@media(min-width:768px) {
    .singlecomment {
        font-size: 16px;
        span {
            font-size: 16px;
        }
    }
}