// $headerBackground: green;
// $headerFont:lightgreen;
@import "./_variables.scss";
.header {
    background-color: $headerBackground;
    a {
        text-align: center;
        color: $headerFont;
        margin-bottom: 0;
        padding: 10px 0;
        margin: 0 auto;
        font-size: 14px;
        display: block;
        text-decoration-line: none
    }
}

@media(min-width:768px) {
    .header {
        a {
            font-size: 20px;
        }
    }
}